@charset "UTF-8";

/* Versão Mobile First */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: url(../imagens/back-phone.jpg) no-repeat center/cover;
    transition: .3s;
}

main {
    position: relative;
    background-color: rgba(255, 255, 255, 0.936);
    width: 60vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.463);
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* deixando só o icon de celular(phone) */

img#phone {
    display: block;
    margin: auto;
}

#impressora, #tablet, #tv, #pc {
    display: none;
}